<template name="mitarbeiterVorlageErstellen">
    <form>
        <label>Vorname:</label>
        <input type="text" name="vorname" class="form-control"><br>
        <label>Nachname:</label>
        <input type="text" name="nachname" class="form-control"><br>
        <label>E-Mail:</label>
        <input type="text" name="email" class="form-control"><br>

        <label>Postleitzahl:</label>
        <input type="text" name="plz" class="form-control"><br>
        <label>Ort:</label>
        <input type="text" name="ort" class="form-control"><br>
        <label>Straßen-Name:</label>
        <input type="text" name="strasse" class="form-control"><br>
        <label>Straßen-Nummer:</label>
        <input type="text" name="nummer" class="form-control"><br>
        <input type="submit" value="Mitarbeiter anlegen" class="btn btn-default">
    </form>
</template>